<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="icon" type="image/x-icon" href="./img/GLStudio.png" />
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/style2.css">
</head>

<body>
    <header class=" masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">


<h1>Atualizar Cadastro de Usuário</h1><br><br>
<form action="/edit-Usuario/{{Usuario.id}}" method="POST">

    <h4>ID: {{Usuario.id}}</h4>
    <label>Nome</label>
    <input type="text" name="nome"value="{{Usuario.nome}}"><br><br>
    <label>email</label>
    <input type="email" name="email" value="{{Usuario.email}}"><br><br>
    <label>Senha</label>
    <input type="password" name="senha" value="{{Usuario.senha}}"><br><br>    
    <button type="sumbit">Atualizar</button>
</form>


        </div>
    </header>

</body>

</html>